{% if page.has_other_pages %}
  <ul class="pagination">
    {% if page.has_previous %}
      <li><a href="?page={{ page.previous_page_number }}">Previous</a></li>
    {% else %}
      <li class="page-item disabled"><span>Previous</span></li>
    {% endif %}

    {% for i in page.paginator.page_range %}
      {% if page.number == i %}
        <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page.has_next %}
      <li><a href="?page={{ page.next_page_number }}">Next</a></li>
    {% else %}
      <li class="page-item disabled"><span>Next</span></li>
    {% endif %}
  </ul>
{% endif %}